name: Build

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'Cargo.lock'
      - 'Cargo.toml'

env:
  CARGO_TERM_COLOR: always
  BINARY_NAME: mhg_dl_rs

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            extension: .exe

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose --release --target ${{ matrix.target }}

    - name: Get Git info
      id: git_info
      shell: bash
      run: |
        echo "date=$(git log -1 --format=%cd --date=format:%Y%m%d)" >> $GITHUB_OUTPUT
        echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Prepare binary
      shell: bash
      run: |
        BIN_NAME="${{ env.BINARY_NAME }}-${{ matrix.target }}-${{ steps.git_info.outputs.date }}-${{ steps.git_info.outputs.hash }}${{ matrix.extension }}"
        cp target/${{ matrix.target }}/release/${{ env.BINARY_NAME }}${{ matrix.extension }} $BIN_NAME
        echo "BIN_NAME=$BIN_NAME" >> $GITHUB_ENV

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.BIN_NAME }}
        path: ${{ env.BIN_NAME }}

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Build
          files: artifacts/*
          prerelease: true
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
