name: Build

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'Cargo.lock'
      - 'Cargo.toml'

env:
  CARGO_TERM_COLOR: always
  BINARY_NAME: mhg_dl_rs

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            extension: .exe

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose --release --target ${{ matrix.target }}

    - name: Get Git info
      id: git_info
      shell: bash
      run: |
        echo "date=$(git log -1 --format=%cd --date=format:%Y%m%d)" >> $GITHUB_OUTPUT
        echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.BINARY_NAME }}-${{ matrix.target }}-${{ steps.git_info.outputs.date }}-${{ steps.git_info.outputs.hash }}
        path: target/${{ matrix.target }}/release/${{ env.BINARY_NAME }}${{ matrix.extension }}
